.fotografia {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.linea-grosa {
    border: 2px black solid;
}

a {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    ;
}

li {
    font-family: 'Roboto Light 300', sans-serif;
    margin-left: 80px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    color: #FFFFFF;
    background: #000000
}

.contacto {
    padding-top: 1rem;
    margin: 10px;
    font-family: 'Roboto Light 300', sans-serif;
}